<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sound Emotion Recognition</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}" />
</head>
<body>
    <nav class="nav">
        <div class="container">
            <div class="logo">
                <a href="#">Sound Emotion Recogniser</a>
            </div>
            <div id="mainListDiv" class="main_list">
            </div>
            <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </div>
    </nav>

    <section id="about">
        <h1>Find the emotion of a voice note!</h1>
        <h2>Upload your voice file and know your emotion!</h2> 
        {% if transcript != "" %}
        <div id="speechTranscriptContainer">
            <h2 id="speechText" style="color: rgb(255, 255, 255);">{{ transcript }}</h2>
        </div>
        {% endif %}
    </section>
    <section id="findMood">
        <div class="upload">
            <h2>Upload your file</h2>
            <form method="post" enctype="multipart/form-data">

                <input type="file" name="file" />
                <br>
                <input class="button" type="submit" id="submitButton" value="Show Results" />
                <br>
            </form>
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- <script src="js/scripts.js"></script> -->
</body>

</html>
